.footer {
	text-align: center;
	& .logo {
		margin-bottom: 0.625rem;
	}

	&__desc {
		font-size: $fs-7;
		margin-bottom: 16px;
	}

	& .grid-list {
		gap: 2rem;
	}

	&__list__item:not(:last-child) {
		margin-bottom: 0.25rem;
	}
}
