.hero {
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("/src/images/header-img.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	/* background-size: cover; */
	color: $clr-neutral-100;
}

.hero-section {
	padding-inline: 2rem;
	padding-block: 13.75rem;
}

.hero-subtitle {
	margin-bottom: 0.625rem;
	font-size: $fs-8;
	font-weight: $fw-bold;
}

.hero-description {
	margin-bottom: 1.875rem;
	font-size: $fs-5;
	line-height: 1.5;
}

.btn {
	display: inline-block;
	font-size: $fs-8;
	font-weight: $fw-bold;
	padding: 1.125rem 1.5rem;
	transition: $transition-1;
}

.btn:is(:hover, :focus) {
	color: $clr-secondary-400;
}

.primary-btn {
	background-color: $clr-neutral-100;
	color: $clr-primary-700;
}
