// Colors
$clr-primary-700: hsl(233, 23%, 15%);
$clr-secondary-400: #997453;
$clr-neutral-100: #ffffff;
$clr-neutral-300: #979593;
$clr-neutral-900: #000000;

// Font Family
$ff-base: "Karla", sans-serif;
$ff-accent: "Mr De Haviland", cursive;

// Font Size
$fs-1: 3rem;
$fs-2: 2.25rem;
$fs-3: 1.75rem;
$fs-4: 1.25rem;
$fs-5: 1.125rem;
$fs-6: 1rem;
$fs-7: 0.875rem;
$fs-8: 12px;

// Font Weight
$fw-regular: 400;
$fw-bold: 700;

// Transitions
$transition-1: 0.25s ease-in-out;
